.container {
  margin: 30px;
}

#bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.image-matiere{
  /* width: 20%; */
  padding: 2%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
