<main class="container">
  <a routerLink="/add" class="ajouterBtn">
    <button mat-flat-button color="accent">
      Ajouter un assignment
    </button>
  </a>
  <h1 id="color-h1">Liste des assignments</h1>
  <div class="box">
    

  <div class="example-container">
    <h2>Non rendu</h2>
    <div class="example-list">
      <nav>
        <button mat-raised-button color="primary" (click)="premierePageNonRendu()">
          Première
        </button>
        <button mat-raised-button color="primary" [disabled]="!this.assignmentsNonRendu.hasPrevPage" (click)="pagePrecedenteNonRendu()">
          Prev
        </button>
        <button mat-raised-button color="primary" [disabled]="!this.assignmentsNonRendu.hasNextPage" (click)="pageSuivanteNonRendu()">
          Suiv
        </button>
        <button mat-raised-button color="primary" (click)="dernierePageNonRendu()">
          Dernière
        </button>
      </nav>
      <br>
      <div class="example-box" cdkDropList cdkDropListSortingDisabled #listNonRendu="cdkDropList" [cdkDropListData]="assignmentsNonRendu.assignments" [cdkDropListConnectedTo]="[listRendu]" (cdkDropListDropped)="dropNonRendu($event)">
          <mat-card class = "tp-card" [cdkDragData]="a" *ngFor="let a of assignmentsNonRendu.assignments"  cdkDrag>
            <mat-card-header>
               <mat-card-title>{{a.nom}}</mat-card-title>
               <mat-card-subtitle>{{a.dateDeRendu | date}}</mat-card-subtitle>
               <div mat-card-avatar class = "tp-header-image" style="background-image: url('/assets/img/{{a.matiere.imageProfesseur}}');float:left;"></div>
            </mat-card-header>
            <img mat-card-image src = "/assets/img/{{a.matiere.image}}" alt = "Learn HTML5">
            <mat-card-content>
              <p *ngIf="a.rendu; else nonsoumis" appRendu>
                {{a.nom}}, rendu par l'élève.
              </p>
              <ng-template #nonsoumis>
                <p appNonRendu>
                  {{a.nom}}, non encore rendu par l'élève.
                </p>
              </ng-template>
            </mat-card-content>
            <mat-card-actions>
              <a routerLink="/assignment/{{a.id}}"><button mat-button>DETAILS</button></a>
            </mat-card-actions>
         </mat-card>
         <br>
      </div>
    </div>
  </div>
  <div class="example-container">
    <h2>Rendu</h2>
    <div class="example-list">
      <nav>
        <button mat-raised-button color="primary" (click)="premierePageRendu()">
          Première
        </button>
        <button mat-raised-button color="primary" [disabled]="!this.assignmentsRendu.hasPrevPage" (click)="pagePrecedenteRendu()">
          Prev
        </button>
        <button mat-raised-button color="primary" [disabled]="!this.assignmentsRendu.hasNextPage" (click)="pageSuivanteRendu()">
          Suiv
        </button>
        <button mat-raised-button color="primary" [disabled]="!this.assignmentsRendu.hasNextPage" (click)="dernierePageRendu()">
          Dernière
        </button>
      </nav>
      <br>
      <div class="example-box" cdkDropList cdkDropListSortingDisabled #listRendu="cdkDropList" [cdkDropListData]="assignmentsRendu.assignments" (cdkDropListDropped)="dropRendu($event)" [cdkDropListConnectedTo]="[listNonRendu]">
          <mat-card class = "tp-card" [cdkDragData]="a" *ngFor="let a of assignmentsRendu.assignments" cdkDrag>
            <mat-card-header>
               <mat-card-title>{{a.nom}}</mat-card-title>
               <mat-card-subtitle>{{a.dateDeRendu | date}}</mat-card-subtitle>
               <div mat-card-avatar class = "tp-header-image" style="background-image: url('/assets/img/{{a.matiere.imageProfesseur}}');float:left;"></div>
            </mat-card-header>
            <img mat-card-image src = "/assets/img/{{a.matiere.image}}" alt = "Learn HTML5">
            <mat-card-content>
              <p *ngIf="a.rendu; else nonsoumis" appRendu>
                {{a.nom}}, rendu par l'élève.
              </p>
              <ng-template #nonsoumis>
                <p appNonRendu>
                  {{a.nom}}, non encore rendu par l'élève.
                </p>
              </ng-template>
            </mat-card-content>
            <mat-card-actions>
              <a routerLink="/assignment/{{a.id}}"><button mat-button>DETAILS</button></a>
            </mat-card-actions>
         </mat-card>
         <br>
      </div>
    </div>
</div>
  </div>

</main>
