
<mat-toolbar color="primary">
  <button mat-icon-button matTooltip="Accueil" aria-label="Accueil" routerLink="/home">
   <mat-icon>assignment_turned_in</mat-icon>
 </button>
 <span>{{title}}</span>
 <span class="example-spacer"></span>
 <button mat-icon-button matTooltip="Peupler la base de données" aria-label="Peupler la base de données">
   <mat-icon>drive_folder_upload</mat-icon>
 </button>
 <button mat-icon-button matTooltip="Se déconnecter" aria-label="se déconnecter" (click)="logout()" >
  <mat-icon>logout</mat-icon>
</button>
</mat-toolbar>